{
  "max_connections": 100,
  "queue_size": 5,
  "fragments_capacity": 10,
  "fragments_grow": true,
  "fragment_size": 65535,
  "in_buffer_capacity": 2048,
  "in_buffer_grow": true,
  "out_buffer_capacity": 2048,
  "out_buffer_grow": true,
  "masking_strict": false,
  "key_strict": false,
  "method_strict": false,
  "tcp_nodelay": false
}